<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floating-input" value="{{this.first_name}}" placeholder="First name" name="first_name">
        <label for="floatinginput">First Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floating-input" value="{{this.last_name}}" placeholder="Last name" name="last_name">
        <label for="floatinginput">Last Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floating-input" value="{{this.email}}" placeholder="Email@email.com" name="email">
        <label for="floatinginput">email</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floating-input" value="{{this.phone}}" placeholder="Telephone" name="phone">
        <label for="floatinginput">Telephone</label>
    </div>
</div>
<div class="col-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" id="floating-input"  placeholder="Leave a comment here" id="comments" style="height: 200px" name="comments" value="{{this.comments}}">
        <label for="floatinginput">comments</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>