<h1>CARROS</h1>

<div class="table-container">
    {{#each cars}}
  <table>
    <tr>
    <th>Id</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Ano</th>
    <th>Placa</th>
    <th>Disponibilidade</th>
    </tr>
    
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.marca}}</td>
        <td>{{this.modelo}}</td>
        <td>{{this.ano}}</td>
        <td>{{this.placa}}</td>
        <td>{{this.disponibilidade}}</td>
    </tr>
  </table>
  {{/each}}
</div>
<ul>
    <li class="btn-voltar"><a href="/Car/inicio">Voltar</a></li>
</ul>