<h1>CLIENTES</h1>
 <div class="table-container">
    {{#each Cliente}}
  <table>
    <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Endereço</th>
    </tr>
    
    <tr>
        <td>{{this.idCliente}}</td>
        <td>{{this.nome}}</td>
        <td>{{this.email}}</td>
        <td>{{this.telefone}}</td>
        <td>{{this.endereco}}</td>
    </tr>
  </table>
  {{/each}}
</div> 

<ul>
    <li class="btn-voltar"><a href="/cliente">Voltar</a></li>
</ul>