<h1>Cadastro de carro</h1>
<form class="form" action="/cadastro/carro" method="post">
 <div class="form-control">
    <label for="marca">Marca do carro:</label>
    <input type="text" name="marca"  value="{{marca}}">
  </div>
  <div class="form-control">
    <label for="modelo">Modelo do carro:</label>
    <input type="text" name="modelo" value="{{modelo}}">
  </div>
  <div class="form-control">
    <label for="ano">Ano do carro:</label>
    <input type="number" name="ano" value="{{ano}}">
  </div>
  <div class="form-control">
    <label for="placa">Placa do carro:</label>
    <input type="text" name="placa" value="{{placa}}">
  </div>
  <div class="form-control">
    <label for="disponibilidade">Disponibilidade:</label>
    <input type="text" name="disponibilidade" value="{{disponibilidade}}">
  </div>
  <input type="submit" value="Cadastrar">
</form>
<ul>
    <li><a href="/carro">Voltar</a></li>
</ul>