<h1>Reservas</h1>
<div class="table-container">
    {{#each reserva}}
  <table>
    <tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Placa</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Data Início</th>
    <th>Data final</th>
    </tr>
    
    <tr>
        <td>{{this.nome}}</td>
        <td>{{this.telefone}}</td>
        <td>{{this.placa}}</td>
        <td>{{this.marca}}</td>
        <td>{{this.modelo}}</td>
        <td>{{this.data_inicio}}</td>
        <td>{{this.data_fim}}</td>
    </tr>
  </table>
  {{/each}}
</div>
<ul>
    <li><a href="/reservas">Voltar</a></li>
</ul>